body {
    background-color: rgb(48, 36, 36);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Jacquard 12';
    background-color: rgb(120, 36, 36);
}

header h1 {
    font-size: 3em;
    margin: 25px 0 5px 0;
    letter-spacing: 3px;
}

header h2 {
    margin: 5px 0 25px 0;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    border: 2px solid black;
    margin: 20px 10px;
    padding: 10px;
    width: 26%;
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 71, 71);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc {
    margin: 10% 0 0 0;
    font-family: 'Jacquard 12';
    font-size: 1.3rem;
    height: 25%;
}

.price {
    margin: 0;
}

.purchase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10% 0 3% 0;
    font-family: 'Jacquard 12';
    font-size: 2rem;
}

button {
    font-family: 'Jacquard 12';
    font-size: 1rem;
    background-color: rgb(192, 112, 112);
}