body {
    background-color: rgb(48, 36, 36);
    margin: 0px;
    font-family: 'Jacquard 12';
}

header {
    display: grid;
    grid-template: 1fr 1fr / 10fr 1fr;
    font-family: 'Jacquard 12';
    background-color: rgb(120, 36, 36);
    justify-items: center;
}

header h1 {
    font-size: 3em;
    margin: 25px 0 5px 0;
    letter-spacing: 3px;
}

header h2 {
    margin: 5px 0 25px 0;
}

header button {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    background: none;
    border: none;
    fill:rgb(0, 0, 0);
}

header button:hover {
    fill:rgb(48, 36, 36);
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    border: 2px solid black;
    margin: 20px 10px;
    padding: 10px;
    width: 27%;
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 71, 71);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc {
    margin: 10% 0 0 0;
    font-family: 'Jacquard 12';
    font-size: 1.5rem;
    height: 25%;
}

.price-area {
    margin: 0;
    font-size: 1.5rem;
}

.purchase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10% 0 3% 0;
    font-family: 'Jacquard 12';
    font-size: 2rem;
}

button {
    font-family: 'Jacquard 12';
    font-size: 1rem;
    background-color: rgb(192, 112, 112);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: rgb(120, 71, 71);
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: larger;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-card {
    height: 20vh;
    background-color: rgb(70, 42, 42);
    border: #000000 solid 3px;
    display: grid;
    grid-template: 1fr / 1fr 5fr 2fr 2fr;
    font-size: 2em;
    align-items: center;
    margin-bottom: 10px;
}

.cart-card > img {
    height: 20vh;
}

.cart-card > h6 {
    margin: 0;
}